* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.dev {
    background-image: url("../images/developer.png");
    color: red;
}
/* header */
.style {
    color: #fd6e0a;
}

header {
    background-color: #fff8f3;
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.logo {
    font-size: 25px;
}

.logo:hover {
    cursor: all-scroll;
}

.menu {
    display: flex;
}

li {
    list-style: none;
    padding: 10px;
}

li a {
    color: black;
    text-decoration: none;
}

.btn-1 {
    padding: 10px 15px;
    margin-top: -10px;
    background-color: #fd6e0a;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-1:hover {
    background-color: gray;
    color: #fd6e0a;;
}
/* banner */


.hardy {
    width: 300px;
    margin-top: 15x;
} 

.tittle {
    font-size: 35px;
    font-family: Open Sans;
    color: #474747;
    margin-bottom: 5px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 5px;
}

.para {
    color: #757575;
    font-size: 14px;
    margin-bottom: 25px;
}

.banner {
   display: flex; 
   align-items: center;
}

.banner-img {
    width: 500px;
    height: 600px;
}

.heading {
    margin-left: 250px;
}

.btn-2, i {
    color: antiquewhite;
    border-radius: 6px;
}

.btn-2, i {
    color: antiquewhite;
    border-radius: 9px;
}

.fa {
    margin-right: 6px;
}

.banner {
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.btn-3 {
    border-radius: 6px;
    padding: 10px 15px;
    color: #fff8f3;
    
}

.btn-3:hover {
    color: black;
    background-color: aqua;
}

.dev-img {
    transform: translateY(-660px);
    height: 600px;
    margin-left: 100px;    
}

.container {
    max-width: 1200px;
    margin: 0 auto;   
}

.content {
    background-color: #ffc299;
    height: 450px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading-p {
    text-align: center;
}

.about-heading-p h4 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #181818;
}

.about-heading-p p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    line-height: 30px;
}

.last-part {
    display: flex;
    justify-content: center;
    color: #757575;
    font-size: 12px; 
    font-weight: 400; 
}

.meta {
    margin-right: 110px;
}

.email {
    margin-right: 110px;
}

.date {
    margin-right: 110px;
}
/* banner end */
/* service start */
.service-section {
    height: 100vh;
}

.service {
    text-align: center;
    margin-top: 50px;
}

.service h4 {
    margin-bottom: 25px;
    font-size: 30px;
    color: #757575;
}

.service p {
    width: 570px;
    margin: auto;
    color: #757575;
}

 .experience {
    display: flex;
    margin-top: 70px;
} 
.js {
    width: 200px;
    margin: auto;
    background-color: aliceblue;
    padding: 30px;
    box-shadow: 3px 3px 4px yellowgreen;
}

.js img {
    width: 30px;
    margin-bottom: 10px;
}
.js h5 {
    margin-bottom: 10px;
    font-size: 15px;
}
/* service start */
/* resume start */
.resume-section {
    height: 70vh;
}

.summary {
    text-align: center;
    margin-bottom: 50px;
}

.resume {
    display: flex;
}

.resume-2 {
    display:flex;
}

.my-experience {
    margin-bottom: 40px;
}

.my-experience h4,h5,p,small{
    margin-top: 20px;
}



 hr {
    margin-top: 20px;
    width: 500px;
 }

 .down-cv {
    position: absolute;
    right: 50%;
    padding: 15px 30px;
    background-color: #fd6e0a;
    border: 0;
    color: black;
    cursor: pointer;
 }

 .resume-section {
    height: 80vh;
 }
/* resume end */
/* fotter part start */
 .connect-part {
    display: flex;
    align-items: center;
    height: 80vh;
    
 }
 .text-part {
    width: 50%;
 }

 .text-part h4 {
    margin-bottom: 20px;
    font-size: 30px;
 }

 .text-part p{
    font-size: 12px;
    color: gray
 }

 .message-part {
    margin-top: 90px;
 }

 .message-part input {
    margin-bottom: 20px;
    padding: 15px;
    width: 380px;
 }

 .message-part h2 {
    margin-bottom: 20px;
 }

 .submit-btn {
    margin-top: 20px;
    padding: 15px 30px;
    cursor: pointer;
 }

 .icon i{
    margin-top: 10px;
    font-size: 25px;
    color: #fd6e0a;
    padding: 8px;
 }
 .icon i:hover {
    color: yellow;
    background-color: black;
 }

 textarea {
    padding: 9px;
 }

 /* fotter part end */

                        /* end */
