* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.dev {
    background-image: url("../images/developer.png");
    color: red;
}
/* header */
.style {
    color: #fd6e0a;
}

header {
    background-color: #fff8f3;
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.logo {
    font-size: 25px;
}

.menu {
    display: flex;
}

li {
    list-style: none;
    padding: 10px;
}

li a {
    color: black;
    text-decoration: none;
}

.btn-1 {
    padding: 10px 15px;
    margin-top: -10px;
    background-color: #fd6e0a;
    border: none;
}
/* banner */


.hardy {
    width: 300px;
    margin-top: 15x;
} 

.tittle {
    font-size: 35px;
    font-family: Open Sans;
    color: #474747;
    margin-bottom: 5px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 5px;
}

.para {
    color: #757575;
    font-size: 14px;
    margin-bottom: 25px;
}

.banner {
   display: flex; 
   align-items: center;
}

.banner-img {
    width: 500px;
    height: 600px;
}

.heading {
    margin-left: 250px;
}

.btn-2, i {
    color: antiquewhite;
    border-radius: 6px;
}

.btn-2, i {
    color: antiquewhite;
    border-radius: 9px;
}

.fa {
    margin-right: 6px;
}

.banner {
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.btn-3 {
    border-radius: 6px;
    padding: 10px 15px;
    color: #fff8f3;
    
}

.btn-3:hover {
    color: black;
    background-color: aqua;
}

.dev-img {
    transform: translateY(-660px);
    height: 600px;
    margin-left: 100px;    
}



